<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading font-weight-bold">
      <img src="assets/img/jgspns.png" alt="" height="110px" width="200px" />
    </div>
    <div class="list-group list-group-flush">
        <a
        class="list-group-item list-group-item-action bg-light"
        (click)="ticketValidation()"
        >Vazenje karte</a>
        <a
        class="list-group-item list-group-item-action bg-light"
      
        >Zahtevi za validaciju</a
        >
    </div>
  </div>
  