#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  .bg-light {
    background-color: lightgrey !important;
    width: 250px;
  }
  .navbar {
    background-color: lightgrey !important;
  }
  