.form-control{
    width: 300px;
}

#mydiv {
    position: fixed;
    top: 40%;
    left: 45%;
    width: 50em;
    height: 18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
  }
  