.sirina{
    width: 200px
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

td{
    min-width: 70px;
}

input{
    min-width: 400px;
    max-width: 400px;
    min-height: 50px;
    max-height: 100px;
}