<table>
  <tbody>
    <tr>
      <td>Vrsta linije:</td>
      <td><select [(ngModel)]="selectedLineType" (change)="changeOfLineType()">
          <option *ngFor="let lineType of values.LineTypes" [ngValue]="lineType">
            {{lineType.Name}}
          </option>
      </select></td>
    </tr>
    <tr>
      <td>Vrsta reda voznje:</td>
      <td><select [(ngModel)]="selectedScheduleType" (change)="changeOfScheduleType()">
          <option *ngFor="let scheduleType of values.ScheduleTypes" [ngValue]="scheduleType">
            {{scheduleType.Name}}
          </option>
      </select></td>
    </tr>
  </tbody>
</table>

<p>Linije:</p>
<div>
<ul *ngFor="let lines of values.Lines" (click) = "selectedLine(lines)">
  <li *ngIf="selectedLineType.Id===lines.LineTypeId">{{lines.Name}}</li>
</ul>
</div>

<div>{{schedule.Departure}}</div>
