<div class="container">
    <div class="row">
          <div class="span12">
<table class="table table-condensed ">
  <tbody>
    <tr>
      <td>Vrsta linije:</td>
      <td><select class="sirina" [(ngModel)]="selectedLineType" (change)="changeOfLineType()">
          <option *ngFor="let lineType of values.LineTypes" [ngValue]="lineType">
            {{lineType.Name}}
          </option>
      </select></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><button class="btn btn-secondary" (click)="dodajRed()">Dodaj R.voznje</button></td>
    </tr>
    <tr>
      <td>Vrsta reda voznje:</td>
      <td><select class="sirina" [(ngModel)]="selectedScheduleType">
          <option *ngFor="let scheduleType of values.ScheduleTypes" [ngValue]="scheduleType">
            {{scheduleType.Name}}
          </option>
      </select></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><button class="btn btn-secondary" (click)="izmeniRed()">Izmeni R.voznje</button></td>
    </tr>
    <tr>
      <td>Linije:</td>
      <td><select class="sirina" [(ngModel)]="selectedL">
        <ng-container *ngFor="let line of values.Lines">
          <option *ngIf="selectedLineType.Id===line.LineTypeId" [ngValue]="line">
            {{line.Name}}
          </option>
          </ng-container>
      </select></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><button class="btn btn-secondary" (click)="obrisiRed()">Obrisi R.voznje</button></td>      
    </tr>
    <tr>
      <td><button (click)="changeOfLine()" class="btn btn-secondary">Red voznje</button></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>

Rezultat pretrage:
<div>{{schedule.Departure}}</div>
