<div class="sidenav">
  <div class="login-main-text">
    <h2>
      JGSP<br />
      Stranica za registraciju
    </h2>
    <p>Prijavi se ili se registruj da bi koristio nase usluge.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-8 col-sm-10">
    <div class="profile-form">
      <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">E-mail adresa</label>
          <div class="col-sm-6">
            <div class="md-form mt-0">
              <input
                type="email"
                formControlName="Email"
                required
                class="form-control"
                placeholder="E-mail adresa"
              />
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Lozinka</label>
          <div class="col-sm-6">
            <div class="md-form mt-0">
              <input
                type="password"
                formControlName="Password"
                required
                class="form-control"
                placeholder="Lozinka"
              />
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Potvrdi lozinku</label>
          <div class="col-sm-6">
            <div class="md-form mt-0">
              <input
                type="password"
                formControlName="ConfirmPassword"
                required
                class="form-control"
                placeholder="Lozinka"
              />
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Ime</label>
          <div class="col-sm-6">
            <div class="md-form mt-0">
              <input
                type="text"
                formControlName="FirstName"
                required
                class="form-control"
                placeholder="Ime"
              />
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Prezime</label>
          <div class="col-sm-6">
            <div class="md-form mt-0">
              <input
                type="text"
                formControlName="LastName"
                required
                class="form-control"
                placeholder="Prezime"
              />
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Datum rodjenja</label>
          <div class="col-sm-6">
            <div class="md-form mt-0">
              <input
                type="text"
                formControlName="BirthDate"
                required
                class="form-control"
                placeholder="Datum rodjenja"
              />
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Adresa</label>
          <div class="col-sm-6">
            <div class="md-form mt-0">
              <input
                type="text"
                formControlName="Address"
                required
                class="form-control"
                placeholder="Adresa"
              />
            </div>
          </div>
        </div>
        <div class="form-group row" style="margin-left: 220px; margin-top: 20px">
          <div class="col-xs-10" style="width: 100px">
            <div class="row">
              <span>Regularan</span>
              <input type="radio" name="PassengerType" value="Regularan" formControlName="PassengerType" checked="checked" class="form-control" />
            </div>
          </div>
          <div class="col-xs-10" style="width: 100px">
            <div class="row">
              <span>Penzioner</span>
              <input type="radio" name="PassengerType" value="Penzioner" formControlName="PassengerType" class="form-control" />
            </div>
          </div>
          <div class="col-xs-10" style="width: 100px">
            <div class="row">
              <span>Djak/Student</span>
              <input type="radio" name="PassengerType" value="Djak/Student" formControlName="PassengerType" class="form-control" />
            </div>
          </div>
        </div>
        <button type="submit" [disabled]="!registerForm.valid" class="btn btn-black">
          Registruj se
        </button>
        <button class="btn btn-secondary" (click)="login()">
          Prijavi se
        </button>
      </form>
    </div>
  </div>
</div>
