Datum od:
<input class="form-control" id="datum" type="date" [(ngModel)]="dateFrom">

<table>
  <thead>
    <tr>
      <th></th>
      <th>Cena</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ticketType of values.TicketTypes">
      <td>{{ticketType.Name}}</td>
      <ng-container *ngFor="let price of values.CatalogHistory">
          <input class="form-control" type="number" *ngIf="price.TicketTypeId == ticketType.Id" [(ngModel)]="price.TicketPrice"/>
      </ng-container>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

<button (click)= "addCatalog(values)" class="btn btn-secondary">Dodaj cenovnik</button>