Datum od:
<input type="date" [(ngModel)]="dateFrom">

<table>
  <thead>
    <tr>
      <th></th>
      <th>Cena</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ticketType of values.TicketTypes">
      <td>{{ticketType.Name}}</td>
      <ng-container *ngFor="let price of values.CatalogHistory">
          <input type="number" *ngIf="price.TicketTypeId == ticketType.Id" [(ngModel)]="price.TicketPrice"/>
      </ng-container>
    </tr>
  </tbody>
</table>

<button (click)= "addCatalog(values)">Dodaj cenovnik</button>